<h1><%= @cohort.name %></h1>
<br>
<h2><%= "\"#{@cohort.motto}\"" %></h2>
<br>
<ol>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>  -  <%= number_to_percentage(user.percent_of_cohort, precision: 2) %>
    </li>
  <% end %>
</ol>
