<p>You're logged in as: <%= current_user.name %></p>
<br>
<h1>Most Dank Planks</h1>

<ul style="display:inline-block;vertical-align:middle;">
  <% @users.each do |user| %>
  <li>
    <%= user.best_time %>  <%= link_to user.name, user %>
  </li>
  <% end %>
</ul>
